USE [master]
GO
/****** Object:  Database [PI_Project]    Script Date: 09/12/2025 23:15:38 ******/
CREATE DATABASE [PI_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PI_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PI_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PI_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PI_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PI_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PI_Project]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[IdAccount] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[RoleId] [int] NULL,
	[EmailAddress] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AccountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[IdAppointment] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NULL,
	[Created_at] [datetime2](7) NOT NULL,
	[Starts_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAppointment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[AccountId] [int] NOT NULL,
	[SpecializationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthRecord]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthRecord](
	[IdHealthRecord] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHealthRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[IdNotification] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNotification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[AccountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[IdReservation] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NULL,
	[PatientId] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 09/12/2025 23:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[IdSpecialization] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSpecialization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([IdAccount], [FirstName], [LastName], [RoleId], [EmailAddress], [PasswordHash], [PasswordSalt]) VALUES (1, N'Ana', N'Anic', 1, N'aa123@gmail.com', N'zcS3l2D9bO6Lx4URDv78d6c+Z6w+86p3q3oB5JGD2Fw=', N'96v77b6Pv5k37xPK8Qy3Iw==')
INSERT [dbo].[Account] ([IdAccount], [FirstName], [LastName], [RoleId], [EmailAddress], [PasswordHash], [PasswordSalt]) VALUES (2, N'Anita', N'Antic', 1, N'bb@gmail.com', N'lOG/CvrMNgQbGFQeg/gF39x4uPracfK700wBhK66+d0=', N'L7ULlP0NKQE2Dy8gDIHIjQ==')
INSERT [dbo].[Account] ([IdAccount], [FirstName], [LastName], [RoleId], [EmailAddress], [PasswordHash], [PasswordSalt]) VALUES (3, N'Anita', N'Antic', 2, N'cc@gmail.com', N'5DwH8pRtSc2vnQDLHGOVmNTdMuAfsIzVRu0Qh2dA4l8=', N'+ixkkZ/gPMLxiwSrh7CpVQ==')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Admin] ([AccountId]) VALUES (1)
INSERT [dbo].[Admin] ([AccountId]) VALUES (2)
INSERT [dbo].[Admin] ([AccountId]) VALUES (6)
GO
INSERT [dbo].[Doctor] ([AccountId], [SpecializationId]) VALUES (12, 3)
INSERT [dbo].[Doctor] ([AccountId], [SpecializationId]) VALUES (14, 3)
GO
SET IDENTITY_INSERT [dbo].[HealthRecord] ON 

INSERT [dbo].[HealthRecord] ([IdHealthRecord], [PatientId]) VALUES (2, 9)
SET IDENTITY_INSERT [dbo].[HealthRecord] OFF
GO
INSERT [dbo].[Patient] ([AccountId]) VALUES (9)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([IdRole], [Name]) VALUES (2, N'Doctor')
INSERT [dbo].[Role] ([IdRole], [Name]) VALUES (3, N'Patient')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([IdSpecialization], [Name]) VALUES (3, N'Ginekolog')
INSERT [dbo].[Specialization] ([IdSpecialization], [Name]) VALUES (2, N'Psihijatar')
INSERT [dbo].[Specialization] ([IdSpecialization], [Name]) VALUES (7, N'Urolog')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__737584F6836D34C6]    Script Date: 09/12/2025 23:15:38 ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Speciali__737584F6B0EF3A7F]    Script Date: 09/12/2025 23:15:38 ******/
ALTER TABLE [dbo].[Specialization] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([IdAccount])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([AccountId])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([IdAccount])
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specialization] ([IdSpecialization])
GO
ALTER TABLE [dbo].[HealthRecord]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([AccountId])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservation] ([IdReservation])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([IdAccount])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointment] ([IdAppointment])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([AccountId])
GO
USE [master]
GO
